<title><%= title %></title>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>

<script src="http://code.angularjs.org/1.2.4/angular-cookies.min.js"></script>
<script src="http://code.angularjs.org/1.2.4/angular-animate.min.js"></script>
<script src="http://code.angularjs.org/1.2.4/angular-route.min.js"></script>

<script type="text/javascript" src="/js/hub.js"></script>
<script type="text/javascript" src="/js/hubControllers.js"></script>
<script type="text/javascript" src="/js/components.js"></script>

<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />

<!-- Let me know if we want this to go -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

