<% include header.ejs %>

<div class="container">
	
	<% include searchbar.ejs %>


	<div class="feed-container">
		<div ng-view class="the-feed">
			//THIS IS WHERE EVERYTHING GOES
		</div>
	</div>
</div>

<% include footer.ejs %>