<% include header.ejs %>

<div class="container">
	
	<h1>Hello My Friend!</h1>

	<p>Welcome to <%= title %>! It's good to be here.</p>
	
	<% // include login.ejs %>

	<% include newsfeed.ejs %>

</div>

<% include footer.ejs %>