<!doctype html>
<html ng-app = "translationApp">
<head>
<% include head.ejs %>
</head>

<body>

<div id="wrapper">

	<header>
		<div class="container">
			<div class="row">

				<div class="col-md-2">
					<h1 id="site-header"><a href="/">Social Translator</a></h1>
				</div>

				<div class="col-md-8">
					<% include searchbar.ejs %>
				</div>

				<div class="col-md-2">
					<nav>
						<% if (typeof(user) != 'undefined' && user != null) { console.log(user) %>

							<div class="profile">
								<a href="#/profile/<%=user._id%>">
									<img src="http://graph.facebook.com/<%= user.facebook.id %>/picture?type=square" alt="Profile image" />
									<span><%=user.name%></span>
								</a>
							</div>

							<a href="/logout/">Logout</a>

						<% } else { %>
							<a href="/auth/facebook">Login with Facebook</a>
						<% } %>
					</nav>
				</div>

			</div>
		</div>
	</header>

	<div id="main">

		<div ng-view class="the-feed">
			<!-- THIS IS WHERE EVERYTHING GOES -->
		</div>

	</div><!-- end #main -->

	<footer>
	</footer>

</div><!-- end #wrapper -->


</body>
</html>