<section id="news-feed">

	<h2>News Feed</h2>

	<div class="feed-stories">

		<div class="feed-story">
			<div class="row">

				<div class="profile col-md-1">
					<a href="#">
						<img src="/images/profile-default.jpg" alt="Profile Picture" />
						<span class="profile-name">Andrew Jensen</span>
					</a>
				</div>

				<div class="col-md-6">
					<div class="quote">
						<p>Lorem ipsum dolor sit amet.</p>
						<p>And again I say, lorem ipsum be excellent to each other.</p>
					</div>
					
					<div class="context">
						<p>I need this printed on a T-Shirt.</p>
					</div>

					<div class="tags">
						<span class="tag tag-language">Latin</span> to
						<span class="tag tag-language">English</span> |
						<span class="tag">Introductions</span>
						<span class="tag">T-Shirts</span>
					</div>
				</div>

				<div class="col-md-5">
					<ul class="stats">
						<li><span class="badge">10</span> Score</li>
						<li><span class="badge">7</span> Proposed Translations</li>
						<li><span class="badge">3</span> Comments</li>
					</ul>
				</div>

			</div>
		</div>

	</div>
</section>
