<% include header.ejs %>
<div class="container">

<section class="profile-full">

	

	<div class="profile-header profile-section">
		

		<div class="row">

			<div class="col-md-2">
				<div class="profile">
					<img src="/images/profile-default.jpg" alt="Profile Picture" />
				</div>
			</div>

			<div class="col-md-6">
				<h1><%= user.fullName %></h1>
				<ul class="stats">
					<li><span class="badge">21</span> Questions</li>
					<li><span class="badge">34</span> Proposed Translations</li>
					<li><span class="badge">5</span> Following Tags</li>
					<li><span class="badge">4</span> Following People</li>
					<li><span class="badge">2</span> Followers</li>
				</ul>
			</div>

			<div class="col-md-4">
				<div class="score-card">
					<h3>Score: 25</h3>
				</div>
			</div>

		</div>
	</div>


	<div class="row">

		<div class="col-md-8">


			<div class="profile-bio profile-section">
				<h3>Bio</h3>

				<p>I enjoy translating things! It's one of my main hobbies.
					I hope that someday I can translate everything in the
					whole world. That is my dream.</p>
			</div>

			<div class="profile-questions profile-section">
				<h3>Questions Asked</h3>
			</div>

			<div class="profile-answers profile-section">
				<h3>Translations Proposed</h3>
			</div>

		</div>

		<div class="col-md-4">

			<div class="profile-following-tags profile-section">
				<h3>Following Tags <span class="badge">5</span></h3>

				<div class="tags">
					<span class="tag tag-language">English</span>
					<span class="tag tag-language">Reformed Egyptian</span>
					<span class="tag">Cooking</span>
					<span class="tag">Graphic Design</span>
					<span class="tag">Programming</span>
				</div>
			</div>

			<div class="profile-following-people profile-section">
				<h3>Following People <span class="badge">4</span></h3>

				<div class="profiles">
					<a href="#" class="profile"><img src="/images/profile-default.jpg" alt="Andy Jay" /></a>
					<a href="#" class="profile"><img src="/images/profile-default.jpg" alt="Andy Jay" /></a>
					<a href="#" class="profile"><img src="/images/profile-default.jpg" alt="Andy Jay" /></a>
					<a href="#" class="profile"><img src="/images/profile-default.jpg" alt="Andy Jay" /></a>
				</div>
			</div>

			<div class="profile-followers profile-section">
				<h3>Followers <span class="badge">2</span></h3>

				<div class="profiles">
					<a href="#" class="profile"><img src="/images/profile-default.jpg" alt="Andy Jay" /></a>
					<a href="#" class="profile"><img src="/images/profile-default.jpg" alt="Andy Jay" /></a>
				</div>
			</div>
		</div>

	</div>
	

</section>


</div>
<% include footer.ejs %>