<% include header.ejs %>
<div class="container">
	<!-- <h2>Question ID: <%= question.questionID %></h2> -->

	<div class="quote">
		<h1>CoooooLest T-Shirt Eva!</h1>
	</div>

	<div class="profile col-md-1">
		<a href="#">
			<img src="/images/profile-default.jpg">
			<span class="profile-name"> Andrew Jensen </span>
		</a>

	</div>

	<div class="context">
		<p>I need this printed on a T-Shirt. I need this printed on a T-Shirt. I need this printed on a T-Shirt.</p>


		<div class="tags">
			<span class="tag tag-language">Latin</span> to
			<span class="tag tag-language">English</span> |
			<span class="tag">Introductions</span>
			<span class="tag">T-Shirts</span>
		</div>
	</div>

	<div class="comments">
		<div>
			<h3>Comments</h3>
		</div>
		<div class="asker">
			<div class="profile">
				<a href="#">
					<img src="/images/profile-default.jpg">
				</a>
			</div>
			<p>I never thought of that... No</p>
		</div>
		<div class="answerer">
			<p>Did you ever think of putting something else on a t-shirt?</p>
			<div class="profile">
				<a href="#">
					<img src="/images/profile-default.jpg">
				</a>
			</div>
		</div>
	</div>

</div>
<% include footer.ejs %>