<% include header.ejs %>
<div class="container">

	<div class="quote">
		<h1>Question goes here</h1>
	</div>

	<div class="profile col-md-1">
		<a href="#">
			<img src="/images/profile-default.jpg">
			<span class="profile-name"> Andrew Jensen </span>
		</a>

	</div>

	<div class="context">
		<p>I need this printed on a T-Shirt.</p>
	</div>

	<div class="tags">
		<span class="tag tag-language">Latin</span> to
		<span class="tag tag-language">English</span> |
		<span class="tag">Introductions</span>
		<span class="tag">T-Shirts</span>
	</div>
	<h1>This is the Translation Page.</h1>

	<h2>Question ID: <%= question.questionID %></h2>

</div>
<% include footer.ejs %>