<section id="searchbar-main" class="searchbar">
	<div id="searchbar-wrapper">

		<span class="phrase-translate">Translate</span>
		
		<input type="text" id="searchbar-question" name="searchbar-question" class="form-control" value="" placeholder="" />
		
		<span class="phrase-into">into</span>

		<select id="searchbar-language" name="searchbar-language" class="form-control">
			<% for (i in languages) { %>
			<option id="<%=languages[i]._id%>"><%=languages[i].name%></option>
			<% } %>
		</select>

		<input type="submit" id="searchbar-submit" name="searchbar-submit" class="btn btn-primary" value="Go" onclick="search()" />

	</div>
</section>
