section.profile-full {


	.profiles {

		.profile {
			display: inline-block;
			margin-right: 0.5rem;

			img {
				width: 2.5rem;
			}
		}
	}

	h3 .badge {
		font-size: 15px;	/* TODO: change */
		vertical-align: middle;
	}
}


.profile-header {

	margin: 0 auto @spacing-layout;
	padding: @spacing-layout 0;
	background-color: @bg-panel;

	.stats {
		.unstyled-list;
	}

	.profile img {
	}
}


.profile-section {
	margin: 0 0 2rem;
	padding: 0 0 1rem;
	border-bottom: 1px solid @color-divider;

	&:last-child {
		border-bottom: none;
	}
}

.profile-stories {

}

.profile-story {
	padding: 1rem;
	background-color: @bg-panel;

	&:first-child {
		.border-radius(@border-radius-panel, 0, 0, @border-radius-panel);
	}

	.question {

	}

	.answer {
		text-align: right;
	}
}

.profile-stories-more {
	text-align: center;
	font-size: @font-size-body + 10px;
	
	a:link, a:visited {
		display: block;
		text-decoration: none;
		background-color: @bg-panel;
		.border-radius(0, @border-radius-panel, @border-radius-panel, 0);
	}
	a:hover, a:active {
		background-color: darken(@bg-panel, 3%);
	}
}