section.profile-full {


	.profiles img {
		display: inline-block;
		width: 2.5rem;
		margin-right: 0.25rem;
	}

	h3 .badge {
		font-size: 15px;	/* TODO: change */
		vertical-align: middle;
	}
}


.profile-header {

	/* background-color: @bg-panel; */

	.stats {
		.unstyled-list;
	}

	.profile img {
	}
}


.profile-section {
	margin: 0 0 2rem;
	padding: 0 0 1rem;
	border-bottom: 1px solid @color-divider;

	&:last-child {
		border-bottom: none;
	}
}