#translation-header {
	background-color: @bg-panel;

	padding: @spacing-layout 0;


	.stats {
		.unstyled-list();
	}

	.stats, .tags {
		margin-bottom: @spacing-smaller;
	}

	.profile {
		span {
			display: block;
			text-align: center;
		}
	}

	.comment-list {
		width: 70%;
	}
}


.question {

	text-align: center;
}

.question-context {

	min-height: 10em;
	text-align: center;

	p{
		min-height: 7em;
		max-width: 30em;
		margin: 0 auto;
		text-align: center;
	}
	
}

.user{

	.timestamp{

	}

	img {
		// height: 7em;
		display: block;
	}

	.username {

	}
}

#answer-list {
	padding: @spacing-layout 0;




	h2 .badge { font-size: 16px; }
}

.answer-container {
	padding: @spacing-smaller 0;
	border-bottom: 1px solid @color-divider;

	&:last-child { border-bottom: none; }

	.answer .quote {
		font-size: 24px;
	}

	.profile {
		span {
			font-size: @font-size-smaller;
		}
	}

	.comment-list {
		width: 70%;
		// float: right;
		// &:after {
		// 	clear: both;
		// }
	}
}

.voting-button(@background-image, @background-image-active, @vertical-placement) {
	display: block;
	margin: 0 auto;
	width: 70%;
	height: 2rem;

	text-indent: -9999px;
	background: transparent url(@background-image) 50% @vertical-placement no-repeat scroll;
	background-size: contain;
	cursor: pointer;

	// &:active, &:hover, &:focus {
	// 	background: transparent url(@background-image-active) 50% @vertical-placement no-repeat scroll;
	// }
}

.answer-container .voting {

	.answer-score {
		display: block;
		font-size: 28px;
		text-align: center;
	}

	.button-upvote {
		.voting-button('/images/btn-upvote.png', '/images/btn-upvote-active.png', 100%);
	}

	.button-downvote {
		.voting-button('/images/btn-downvote.png', '/images/btn-downvote-active.png', 0%);
	}
}

.comment-list {
	padding-top: @spacing-smaller;

	h3 {
		font-size: @font-size-larger;
	}
}

.comment {
	height: 3rem;
	font-size: @font-size-smaller;

	.profile {
		float: left;
	}

	a:active, a:hover, a:focus { text-decoration: none; }

	img {
		width: 2rem;
		display: inline-block;
		background-color: #f5f5f1;
		.round-image;
	}

	p, div {
		margin-left: 2.5rem;
	}

	input[type="text"] {

		.border-box();
		width: 100%;
		height: auto;
		display: block;

		padding: 0.2rem 0.5rem;
		font-size: @font-size-smaller;
		
		//Make the user comment box fade in on hover!!
		opacity: 0.5;
		.transition();
		&:active, &:hover, &:focus { opacity: 1.0; }
	}
}

.user-comment {
	a {
		.transition();
	}
	a:link, a:visited { opacity: 0.5; }
	a:active, a:hover, a:focus { opacity: 1.0; }
}


#user-answer-container {
	#user-answer, #user-supplementary {
		height: auto;
		margin-bottom: @spacing-smaller;
	}
}

.left {
	float: left;
}

.right{
	float: right;
}



