.search-results-header
{
	background: #d9eefc;
	padding: 2em 0 1em 0;
	margin: 0 0 2em;	
}

.story a {
	color: black;
}

.story .row {
	padding-bottom: 2em;
}

.story .stats {
	.unstyled-list;
}

.story .question {
	font-size: 36px;
	text-align: left;
}

.story {
	
	border-bottom: 1px solid darkgrey;
}

.story .answer {
	text-align: right;
}

.story .tags-row {
	text-align: center;
}