/***********************************
 * VARIABLES */

/* Fonts */

@font-family-body:			'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-quote-marks:	@font-family-body;
// @font-family-quote-marks:	'palatino', 'times new roman', 'times', 'serif';

@font-size-larger:	18px;
@font-size-body:	14px;
@font-size-smaller:	12px;
@font-size-mini:	10px;


/* Sizing */

// @height-footer: 8rem;
@height-footer:		0rem;	//We've removed the footer for now, so we don't need this stuff.

@spacing-layout:	3rem;
@spacing-smaller:	1.5rem;
@spacing-smallest:	0.5rem;


/* Colors */

@bg-body:			#ffffff;
@bg-darker:			#7AC4F5;
@bg-panel:			lighten(@bg-darker, 20%);
@bg-darker-active:	#55a9e1;

@color-body:		#000000;
@color-headers:		#0B293D;
@color-accent:		darken(@bg-darker, 10%);
@color-link:		#0000ff;
@color-link-dark:	#444444;

@color-divider:		#e0e0e0;

/* Effects */
@border-radius-panel:	8px;

/***********************************
 * INCLUDES */

@import '_layout.less';
@import '_typography.less';
@import '_classes.less';

@import '_animation.less';
@import '_home.less';
@import '_newsfeed.less';
@import '_profile.less';
@import '_question.less';
