/***********************************
 * VARIABLES */
/* Fonts */
/* Sizing */
/* Colors */
/* Effects */
/***********************************
 * INCLUDES */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background-color: #ffffff;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
header {
  padding: 1rem;
  background-color: #7ac4f5;
}
header h1 {
  font-size: 1.5rem;
  line-height: 3rem;
  margin: 0;
}
header h1 a:link,
header h1 a:visited {
  color: #0b293d;
}
header h1 a:hover,
header h1 a:active {
  text-decoration: none;
  color: #1b6393;
}
header nav {
  text-align: right;
}
header nav a:link,
header nav a:visited {
  line-height: 3rem;
  color: black;
  text-decoration: none;
}
header nav a:hover,
header nav a:active {
  text-decoration: underline;
}
header .profile {
  font-weight: bold;
}
header .profile a:hover,
header .profile a:active {
  text-decoration: underline;
}
header .profile img {
  float: right;
  margin-left: 1rem;
  width: auto;
  height: 3rem;
}
#main {
  padding-bottom: 0rem;
}
#main > :last-child {
  padding-bottom: 3rem;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0rem;
  box-sizing: border-box;
  padding: 1rem;
  background-color: #7ac4f5;
}
html {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
  font-weight: 200;
  line-height: 1.0;
  color: #0b293d;
}
/***********************************
 * MIXINS */
.round-image {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -o-border-radius: 999px;
  border-radius: 999px;
  background-clip: padding-box;
}
.unstyled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/***********************************
 * MAJOR BLOCK-LEVEL ELEMENTS */
section.box {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: #7ac4f5;
}
/***********************************
 * SMALL REPEATING ELEMENTS */
.quote :before,
.quote :after {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 28px;
  line-height: 0;
}
.quote :before {
  content: "\201C";
  /* Left double quote mark */
}
.quote :after {
  content: "\201D";
  /* Right double quote mark */
}
.tag {
  padding: 2px;
  background-color: #f0f0f0;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-clip: padding-box;
  line-height: 2em;
}
.tag.tag-language {
  background-color: #d7d7d7;
}
.profile a:link,
.profile a:visited {
  color: #444444;
  text-decoration: none;
}
.profile img {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -o-border-radius: 999px;
  border-radius: 999px;
  background-clip: padding-box;
}
.profile.subtle img {
  opacity: 0.7;
}
.badge {
  background-color: #4baff1;
}
.the-feed.ng-enter,
.the-feed.ng-leave,
.the-feed.ng-move {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.the-feed.ng-enter,
.the-feed.ng-move {
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.the-feed.ng-move.ng-move-active,
.the-feed.ng-enter.ng-enter-active {
  opacity: 1;
  height: 120px;
}
.the-feed.ng-leave {
  opacity: 1;
  overflow: hidden;
}
.the-feed.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.searchbar {
  text-align: center;
  font-size: 16px;
}
.searchbar input[type="text"] {
  display: inline-block;
  max-width: 20rem;
  font-size: 16px;
}
.searchbar select {
  display: inline-block;
  max-width: 10rem;
  font-size: 16px;
}
.searchbar span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.5rem;
}
.feed-story {
  padding: 2rem 0;
  border-bottom: 1px solid #e0e0e0;
}
.feed-story:first-child {
  border-top: 1px solid #e0e0e0;
}
.feed-story .profile {
  text-align: center;
  font-size: 12px;
}
.feed-story .context {
  font-size: 12px;
}
.feed-story .tags {
  font-size: 12px;
}
.feed-story .stats {
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.feed-story .stats .badge {
  font-size: 12px;
}
section.profile-full .profiles img {
  display: inline-block;
  width: 2.5rem;
  margin-right: 0.25rem;
}
section.profile-full h3 .badge {
  font-size: 15px;
  /* TODO: change */
  vertical-align: middle;
}
.profile-header {
  margin: 0 auto 3rem;
  padding: 3rem 0;
  background-color: #d9eefc;
}
.profile-header .stats {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.profile-section {
  margin: 0 0 2rem;
  padding: 0 0 1rem;
  border-bottom: 1px solid #e0e0e0;
}
.profile-section:last-child {
  border-bottom: none;
}
.profile-story {
  padding: 1rem;
  background-color: #d9eefc;
}
.profile-story:first-child {
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  background-clip: padding-box;
}
.profile-story .answer {
  text-align: right;
}
.profile-stories-more {
  text-align: center;
  font-size: 24px;
}
.profile-stories-more a:link,
.profile-stories-more a:visited {
  display: block;
  text-decoration: none;
  background-color: #d9eefc;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  background-clip: padding-box;
}
.profile-stories-more a:hover,
.profile-stories-more a:active {
  background-color: #cbe8fb;
}
#translation-header {
  background-color: #d9eefc;
  padding: 3rem 0;
}
#translation-header .stats {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#translation-header .stats,
#translation-header .tags {
  margin-bottom: 1.5rem;
}
#translation-header .profile span {
  display: block;
  text-align: center;
}
#translation-header .comment-list {
  width: 70%;
}
.question {
  text-align: center;
}
.question-context {
  min-height: 10em;
  text-align: center;
}
.question-context p {
  min-height: 7em;
  max-width: 30em;
  margin: 0 auto;
  text-align: center;
}
.user img {
  display: block;
}
#answer-list {
  padding: 3rem 0;
}
#answer-list h2 .badge {
  font-size: 16px;
}
.answer-container {
  padding: 1.5rem 0;
  border-bottom: 1px solid #e0e0e0;
}
.answer-container:last-child {
  border-bottom: none;
}
.answer-container .answer .quote {
  font-size: 24px;
}
.answer-container .profile span {
  font-size: 12px;
}
.answer-container .comment-list {
  width: 70%;
}
.answer-container .voting .answer-score {
  display: block;
  font-size: 28px;
  text-align: center;
}
.answer-container .voting .button-upvote {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 2rem;
  text-indent: -9999px;
  background: transparent url('/images/btn-upvote.png') 50% 100% no-repeat scroll;
  background-size: contain;
  cursor: pointer;
}
.answer-container .voting .button-downvote {
  display: block;
  margin: 0 auto;
  width: 70%;
  height: 2rem;
  text-indent: -9999px;
  background: transparent url('/images/btn-downvote.png') 50% 0% no-repeat scroll;
  background-size: contain;
  cursor: pointer;
}
.comment-list {
  padding-top: 1.5rem;
}
.comment-list h3 {
  font-size: 18px;
}
.comment {
  height: 3rem;
  font-size: 12px;
}
.comment .profile {
  float: left;
}
.comment a:active,
.comment a:hover,
.comment a:focus {
  text-decoration: none;
}
.comment img {
  width: 2rem;
  display: inline-block;
  background-color: #f5f5f1;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -o-border-radius: 999px;
  border-radius: 999px;
  background-clip: padding-box;
}
.comment p,
.comment div {
  margin-left: 2.5rem;
}
.comment input[type="text"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  display: block;
  padding: 0.2rem 0.5rem;
  font-size: 12px;
  opacity: 0.5;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.comment input[type="text"]:active,
.comment input[type="text"]:hover,
.comment input[type="text"]:focus {
  opacity: 1.0;
}
.user-comment a {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.user-comment a:link,
.user-comment a:visited {
  opacity: 0.5;
}
.user-comment a:active,
.user-comment a:hover,
.user-comment a:focus {
  opacity: 1.0;
}
#user-answer-container #user-answer,
#user-answer-container #user-supplementary {
  height: auto;
  margin-bottom: 1.5rem;
}
.left {
  float: left;
}
.right {
  float: right;
}
