<section class="profile-full">
	<form>
	<div class="search-results-header">
		
		<div class="container">

			<div class="row">
				<div class="col-md-2">
					<a href="#/profile/{{currentUser._id}}" class="profile">
						<img ng-src="http://graph.facebook.com/{{currentUser.facebook.id}}/picture?width=200&amp;height=200" />
					</a>
				</div>
				<div class="col-md-8">
					
					<div class="create">
						<h1>Ask How to Say...</h1>
						<!-- <label for="text-bar">Text: </label> -->
						<input id="text" type="text" id="text-bar" name="text-bar" class="form-control main-text" value="" placeholder="" ng-model="formData.text" ng-required="true"/>
					</div>
				</div>
				
			</div>

			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8 ">
					
				</div>

			</div>
		</div>
	</div>
	<div class="container">

		<div class="row">

			<div class="col-md-2"></div>

			<div class="col-md-8 create">
				

				<div>
					<label for="context-bar">Briefly Explain the Context Where You Would Use This </label>
					<input id="context" type="text" id="context-bar" name="context-bar" class="form-control" value="" placeholder="" ng-model="formData.context" ng-required="true"/>
				</div>

				<div class="language-ddl">
					<label for="fromLanguage">From: </label>
					<select id="fromLanguage" class="form-control" ng-options="l.name for l in languages" 
					ng-model="formData.fromLanguage">
					</select>
				</div>

				<div class="language-ddl">
					<label for="toLanguage">To: </label>
					<select id="toLanguage" class="form-control" ng-options="l.name for l in languages" 
					ng-model="formData.toLanguage">
					</select>
				</div>


				<div>
					<button type="submit" class="btn btn-primary" ng-click="createQuestion()">Submit</button>
				</div>
			</div>
			
		</div>
	</div>
	</form>
</section>