<section class="profile-full">

	<div class="container">

		<h1>Ask how to say:</h1>

		<form>

			<input type="text" id="searchbar-question" name="searchbar-question" class="form-control" value="" placeholder="" ng-model="formData.text"/>

			Context
			<input type="text" id="searchbar-question" name="searchbar-question" class="form-control" value="" placeholder="" ng-model="formData.context"/>

			Tags: 
			...

			<div>

				<button type="submit" class="btn btn-primary" ng-click="createQuestion()">Add</button>

			</div>
		</form>

	</div>


</section>