<section class="profile-full">

	<div class="container">

		<h1>Ask how to say:</h1>

		<input type="text" id="searchbar-question" name="searchbar-question" class="form-control" value="" placeholder="" />

		Context
		<input type="text" id="searchbar-question" name="searchbar-question" class="form-control" value="" placeholder="" />

		Tags: 
		...

	</div>


</section>