<section id="homepage">

	<div id="homepage-header">
		<div class="container">
			<h1>Social Translator</h1>
			<h3>Welcome to the site you can trust for translations. </h3>
			<h3>Your phrases are translated and validated by a community of friends </h3>
			<h3>and experts who are fluent in tons of languages!</h3>
		</div>
	</div>

	<div id="homepage-users" class="homepage-section">
		<div class="container">

			<div class="row recent-activity">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<h1><i class="fa fa-users"></i> New Users</h1>
					<a href="#/profile/{{user._id}}" class="profile" ng-repeat="user in users" title="{{user.name}}">
						<img ng-src="http://graph.facebook.com/{{user.facebook.id}}/picture?width=200&amp;height=200" />
					</a>
				</div>
			</div>

		</div>
	</div>

	<div class="homepage-section">
		<div class="container">
			<div class="row">

				<div class="col-md-1"></div>
				<div class="col-md-10">
					<h1><i class="fa fa-pencil-square-o"></i> Recent Translations</h1>
					<story ng-repeat="story in stories"></story>
				</div>		
			</div>
		</div>
	</div>

</section>