<div class="container">
	<h2>Question ID: <%= question._id %></h2>

	<div class="question">
		<div class="quote">
			<h1><%= question.text %></h1>
		</div>
	</div>

	<div class="user left">
			<a href="#">
				<span class="timestamp">10 Minutes Ago</span>
				<img src="/images/profile-default.jpg">
				<span class="username"> Andrew Jensen </span>
			</a>
		</div>

	<div class="question-context">
		

		
		<p><%= question.context %></p>


		<div class="tags">
			<span class="tag tag-language">Latin</span> to
			<span class="tag tag-language">English</span> |
			<span class="tag">Introductions</span>
			<span class="tag">T-Shirts</span>
		</div>

		
	</div>

	<div class="comment-container">
			<div>
				<h3>Comments</h3>
			</div>


			<div class="comment right speech-bubble">
				
				<p class="left">Did you ever think of putting something else on a t-shirt?</p>
				<div class="right">
					<a href="#">
						<img src="/images/profile-default.jpg">
					</a>
				</div>
			</div>

			<div class="comment left">
				<div class="left">
					<a href="#">
						<img src="/images/profile-default.jpg">
					</a>
				</div>
				<p "right"> never thought of that... No</p>
				
			</div>

			<a href="#">Add Comment</a>
			
		</div>
		
	
	<div class="answers">
		answers...
		<div class="user right">
			<a href="#">
				<span class="timestamp">10 Minutes Ago</span>
				<img src="/images/profile-default.jpg">
				<span class="username"> Andrew Jensen </span>
			</a>

		</div>
	</div>
</div>
