<!-- This could probably be used for both the NewsFeed and for Search Results -->
<section class="profile-full">

	
	<div class="search-results-header">
		<div class="container">
			<h1>{{page.title}} "{{page.phrase}}"</h1>

<!-- 
			<div>
				<h3>Can't Find a Similar Question?</h3>
				<form ng-submit="createQuestion()">
					<input type="submit" class="btn btn-primary" id="create-question" name="create-question" value="Ask Question" />
				</form>
			</div> -->
		</div>



	</div>

	<div class="container">
<!-- 		Narrow Results with Key Words: <input ng-model="query">

		<select ng-model="orderProp">
			<option value="text">		question</option>
			<option value="context">	Context </option>
			<option value="timestamp">	Date	</option>
			<option value="username">	User 	</option>
		</select>  -->

		<div>
			  <div ng-repeat="story in stories ">  <!-- | filter:query | orderBy:orderProp -->
			    
			  	<story></story>

			  </div>
		</div>

		<div class="row create-question">

			<h3>Can't Find a Close Question?</h3>
				<form ng-submit="createQuestion()">
					<input type="submit" class="btn btn-primary" id="create-question" name="create-question" value="Ask Question" />
				</form>
		</div>

	</div>


</section>