<div class="profile-story">
	<!-- ASKER -->
	<div class="row">
		<!-- Profile -->
		<div class="profile col-md-1">
			<profile-pic type="question"></profile-pic>
		</div>

		<div >
			<a href="#/translation/{{story.question._id}}">
				<!-- Question Asked -->
				<div class="question col-md-7">

					<div class="quote">
						<p>{{story.text}}</p>
					</div>
					
				<!-- Tags -->
					<tag></tag>
					<!-- <div class="tags">
							<span class="tag tag-language">Latin</span> to
							<span class="tag tag-language">English</span> |
							<span class="tag">Introductions</span>
							<span class="tag">T-Shirts</span>
					</div> -->
				</div>

				<!-- Badges -->
				<div class="col-md-4">
					<ul class="stats">
						<li><span class="badge">10</span> Score</li>
						<li><span class="badge">7</span> Proposed Translations</li>
						<li><span class="badge">3</span> Comments</li>
					</ul>
				</div>
			</a>
		</div>

	</div>

	<!-- ANSWER -->
	<div class="row">
		
		<div class="answer col-md-8">

		<a href="#" >
			<!-- Translation -->
				<div class="quote">
					<p>{{story.translation}}</p>
				</div>

			<!-- Tags -->
				<div class="tags">
						<span class="tag tag-language">Latin</span> to
						<span class="tag tag-language">English</span> |
						<span class="tag">Introductions</span>
						<span class="tag">T-Shirts</span>
				</div>
			</div>

			<!-- Badges -->
			<div class="col-md-3">
				<ul class="stats">
					<li><span class="badge">10</span> Score</li>
					<li><span class="badge">7</span> Proposed Translations</li>
					<li><span class="badge">3</span> Comments</li>
				</ul>
			</div>
		</a>

		<!-- Profile -->
		<div class="profile subtle col-md-1">
			<profile-pic></profile-pic>
		</div>
	</div>
</div>