<div class="story"> <!-- class="profile-story"> -->
	<!-- QUESTION -->
	<div class="row">

		<div class="col-md-1"></div>

		<!-- Profile -->
		<div class="profile col-md-1">
			<a ng-href="#/profile/{{story.question.author._id}}">
				<img ng-src="http://graph.facebook.com/{{story.question.author.facebookID}}/picture?type=square"/>
			</a>
		</div>

		
		<a ng-href="#/translation/{{story.question._id}}">
			<!-- Question Asked -->
			<div class="col-md-7">

				<div class="question quote">
					<h1>{{story.question.text}}</h1>
				</div>

			</div>

			<!-- Badges -->
			<div class="col-md-2">
				<ul class="stats">
					<li><span class="badge">{{story.question.score}}</span> Score</li>
					<li><span class="badge">{{story.question.answers}}</span> Answers</li>
					<li><span class="badge">{{story.question.comments}}</span> Comments</li>
				</ul>
				
				<div class="tags">
					<span class="tag tag-language">{{story.question.fromLanguage.name}}</span> to
					<span class="tag tag-language">{{story.question.toLanguage.name}}</span>
				</div>
			</div>
		</a>

	</div>

	<!-- ANSWER -->
	<div class="row" ng-if="story.answer != null">
		<div class="col-md-1"></div>
		
		<div class="col-md-7" >
		<!-- <h2>Answers <span class="badge">{{story.question.answers}}</span></h2> -->
		<!-- <h4><span class="badge">{{story.question.answers}}</span> Answers </h4> -->
		<a ng-href="#/profile/{{story.question.author._id}}"><h4> {{story.question.answers}} Answers </h4></a>
		
		<!-- Translation -->
			<div class="answer">
				<p>{{story.answer.translation}}</p>
			</div>
		</div>

		<!-- Profile -->
		<div class="profile subtle col-md-1">
			<a ng-href="#/profile/{{story.answer.author._id}}">
				<img ng-src="http://graph.facebook.com/{{story.answer.author.facebookID}}/picture?type=square"/>
			</a>
		</div>


		<div class="col-md-2">
				<ul class="stats">
					<li><span class="badge">{{story.answer.score}}</span> Score</li>
					<!-- <li><span class="badge">{{story.answer.comments.length}}</span> Comments</li> -->
				</ul>
			</div>
	</div>
	<div class="row" ng-if="story.answer == null">
		<div class="col-md-1"></div>

		<div class="col-md-11">
			<a ng-href="#/translation/{{story.question._id}}"><h4>0 Answers</h4></a>
		</div>
	</div>

</div>
