<div class="story"> <!-- class="profile-story"> -->
	<!-- QUESTION -->
	<div class="row">
		<!-- Profile -->
		<div class="profile col-md-1">
			<a ng-href="#/profile/{{story.question.author._id}}">
				<img ng-src="http://graph.facebook.com/{{story.question.author.facebookID}}/picture?type=square"/>
			</a>
		</div>

		
		<a ng-href="#/translation/{{story.question._id}}">
			<!-- Question Asked -->
			<div class="question col-md-8">

				<div class="question quote">
					<p>{{story.question.text}}</p>
				</div>

			</div>

			<!-- Badges -->
			<div class="col-md-3">
				<ul class="stats">
					<li><span class="badge">{{story.question.score}}</span> Score</li>
					<li><span class="badge">{{story.question.answers}}</span> Proposed Translations</li>
					<li><span class="badge">{{story.question.comments}}</span> Comments</li>
				</ul>
				
				<div class="tags">
					<span class="tag tag-language">{{story.question.fromLanguage.name}}</span> to
					<span class="tag tag-language">{{story.question.toLanguage.name}}</span>
				</div>
			</div>
		</a>

	</div>

	<!-- ANSWER -->
	<div class="row">
		
		<div class="col-md-8">
			Answer
		
		<!-- Translation -->
			<div class="answer quote">
				<p>{{story.answer.translation}}</p>
			</div>
		</div>

		<!-- Profile -->
		<div class="profile subtle col-md-1">
			<a ng-href="#/profile/{{story.answer.author._id}}">
				<img ng-src="http://graph.facebook.com/{{story.answer.author.facebookID}}/picture?type=square"/>
			</a>
		</div>


		<div class="col-md-3">
				<ul class="stats">
					<li><span class="badge">{{story.answer.score}}</span> Score</li>
					<!-- <li><span class="badge">{{story.answer.comments.length}}</span> Comments</li> -->
				</ul>
			</div>
	</div>

</div>
