<div class="feed-story">
	<div class="row">

		<div class="profile col-md-1">
			<a href="/user/52a3fdc8db7c753092000001/">
				<img src="/images/profile-default.jpg" alt="Profile Picture" />
				<span class="profile-name">User Name<!-- {{Andrew Jensen}} --></span>
			</a>
		</div>

		<div class="col-md-6">
			<div class="quote">
				<p>{{question.text}}</p>
			</div>
			
			<div class="context">
				<p>{{question.context}}</p>
			</div>

			<div class="tags">
				<span class="tag tag-language">Latin</span> to
				<span class="tag tag-language">English</span> |
				<span class="tag">Introductions</span>
				<span class="tag">T-Shirts</span>
			</div>
		</div>

		<div class="col-md-5">
			<ul class="stats">
				<li><span class="badge">10</span> Score</li>
				<li><span class="badge">7</span> Proposed Translations</li>
				<li><span class="badge">3</span> Comments</li>
			</ul>
		</div>
	</div>

	<!-- ANSWER -->
<!-- 	<div class="row">
		<div class="profile col-md-5">
			<a href="/user/52a3fdc8db7c753092000001/">
				<img src="/images/profile-default.jpg" alt="Profile Picture" />
				<span class="profile-name">User Name {{Andrew Jensen}} </span>
			</a>
		</div>
	</div> -->
</div>