<section class="translation">

	<div id="translation-header">
		<div class="container">

			<div class="row">
				<div class="col-md-2">
					<a href="#/profile/{{question.author._id}}" class="profile">
						<img src="http://graph.facebook.com/{{question.author.facebook.id}}/picture?width=200&amp;height=200">
						<span class="username">{{question.author.name}}</span>
					</a>
				</div>

				<div class="col-md-6">

					<div>
						<h2>How do you say...</h2>
						<div class="quote">
							<h1>{{question.text}}</h1>
						</div>
					</div>
					
					<p class="context">{{question.context}}</p>

					<div class="comment-list">
						<h3>Comments</h3>

						<div class="comment" ng-repeat="comment in question.comments">

							<a href="#/profile/{{comment.author._id}}" class="profile">
								<img src="http://graph.facebook.com/{{comment.author.facebook.id}}/picture?type=square">
							</a>
							<p>{{comment.text}}</p>

						</div>

						<user-comment></user-comment>
					</div><!-- end .comment-container -->


				</div>

				<div class="col-md-4">

					<ul class="stats">
						<li><span class="badge">{{question.score}}</span> Score</li>
						<li><span class="badge">{{question.answers.length}}</span> Proposed Translations</li>
						<li><span class="badge">{{question.comments.length}}</span> Comments</li>
					</ul>

					<div class="tags">
						<span class="tag tag-language">{{question.fromLanguage.name}}</span> to
						<span class="tag tag-language">{{question.toLanguage.name}}</span>
					</div>

					<div class="timestamp">timestamp: {{question.timestamp}}</div>

				</div>
			</div><!-- end .row -->

		</div>
	</div><!-- end #translation-header -->



	<div id="answer-list">
		<div class="container">

			<h2>Answers <span class="badge">{{question.answers.length}}</span></h2>

			<!-- ANSWER -->
			<div class="answer-container" ng-repeat="answer in question.answers">
				
				<div class="row">

					<div class="voting col-md-1">
						<a class="button-upvote">vote up</a>

						<span class="answer-score">{{answer.score}}</span>

						<a class="button-downvote">vote down</a>
					</div>

					<div class="answer col-md-8">

						<!-- Translation -->
						<div class="quote">
							<p>{{answer.translation}}</p>
						</div>

						<p>{{answer.supplementary}}</p>

						<div class="comment-list">
							<div class="comment" ng-repeat="comment in answer.comments">
								<a href="#/profile/{{comment.author._id}}" class="profile">
									<img ng-src="http://graph.facebook.com/{{comment.author.facebook.id}}/picture?type=square" alt="{{comment.author.name}}" />
								</a>
								<p>{{comment.text}}</p>
							</div>
							<user-comment></user-comment>
						</div>

					</div>

					<!-- Profile -->
					<div class="profile col-md-1">
						<span class="timestamp">{{answer.timestamp}}</span>
						<a href="#/profile/{{answer.author._id}}" class="profile">
							<img ng-src="http://graph.facebook.com/{{answer.author.facebook.id}}/picture?type=square" alt="{{answer.author.name}}" />
						</a>
						<span class="username">{{answer.author.name}}</span>
					</div>
				</div>

			</div>

			<div id="user-answer-container" class="answer-container">
				<div class="row">

					<div class="col-md-1"></div>

					<div class="answer col-md-8">

						<h3>Post a translation</h3>

						<form ng-submit="postAnswer()">

							<input type="hidden" id="questionID" name="questionID" value="{{question._id}}" />

							<!-- Translation -->
							<div>
								<label for="user-answer">Translation Text:</label>
								<input type="text" class="form-control quote" id="user-answer" name="user-answer" value="" placeholer=""ng-model="formData.translation" ng-required="true" />
							</div>

							<div>
								<label for="user-supplementary">Explanation for your translation:</label>
								<input type="text" class="form-control supplementary" id="user-supplementary" name="user-supplementary" value="" placeholder=""ng-model="formData.supplementary" ng-required="true" />
							</div>

							<div>
								<input type="submit" class="btn btn-primary" id="answer-submit" name="answer-submit" value="Post" />
							</div>
						</form>


					</div>

					<!-- Profile -->
					<div class="profile col-md-1">
						<a href="#/profile/{{currentUser._id}}" class="profile">
							<img ng-src="http://graph.facebook.com/{{currentUser.facebook.id}}/picture?type=square" alt="{{currentUser.name}}" />
						</a>
						<span class="username">{{currentUser.name}}</span>
					</div>


				</div>
			</div>

		</div>
	</div><!-- end #answer-list -->

</section>